    <div id="page-side">
        <ul>
            <li><a href="http://chyrp.net/about" title="About Chyrp">About</a></li>
            <li><a href="http://chyrp.net/about/faq" title="Chyrp FAQs">FAQ</a></li>
            <li><a href="http://chyrp.net/about/logo" title="Chyrp Logo">Logo</a></li>
            <li><a href="http://chyrp.net/about/roadmap" title="Chyrp Roadmap">Roadmap</a></li>
        </ul>
        <br />
        <ul>
            <li><a href="http://chyrp.net/about/credits" title="Chyrp Credits">Credits</a></li>
            <li><a href="http://chyrp.net/about/license" title="Chyrp License">License</a></li>
            <li><a href="http://chyrp.net/about/contact" title="Chyrp Contact">Contact</a></li>
        </ul>
    </div>
