/* @override http://chyrp.net/code/css/docs.css */
body {
	width: 75em;
}

#MSubTitle {
	font-size: 11px;
}

/*menu*/

#Menu {
	line-height: 1;
	float: left;
	width: 15em;
}

.MGroup {
	font-weight: bold;
	font-size: 11px;
	padding: 0 0 5px;
	text-transform: uppercase;
	text-decoration: none;
}

.MGroup a {
	padding: .6em 1em;
	text-decoration: none;
	display: block;
	background: #151515;
	color: #fff;
	text-align: right;
	cursor: pointer;
	font-weight: bold;
}

.MGroupContent {
	font-size: 11px;
	font-weight: normal;
	text-transform: none;
	margin: 0 0 0 2em;
}

#MSelected, .MFile a:link, .MFile a:visited, .MIndex a:link, .MIndex a:visited {
	display: block;
	padding: .5em;
	background: #151515;
	text-decoration: none;
	text-align: left;
	font-weight: bold;
}

.MFile a:hover, .MFile a:active, .MIndex a:hover, .MIndex a:active {
	background-color: #222 !important;
	color: #faec8f;
}

#MSelected {
	background-color: #222;
	color: #fff;
}

/*content, paragraphs, code, headings*/

#Content, #Index {
	font-size: 13px;
	margin-top: -1em;
	margin-left: 16em;
}

#MainTopic .CTitle, .IPageTitle {
	padding: .4em .5em;
	background: #151515;
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 1.25em;
	text-shadow: #000 0 0 5px;
}

.CSection .CTitle {
	background-color: #ddd;
	color: #666;
	text-shadow: none;
}

.CGroup .CTitle, .INavigationBar {
	background: #222;
	padding: 3px 10px;
	font-size: 18px;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: normal;
	text-shadow: #000 0 0 3px;
}

.CProperty .CTitle, .CFunction .CTitle, .CConstant .CTitle, .CVariable .CTitle, .CFile .CTitle, .CClass .CTitle, .CSection .CTitle {
	color: #fff;
	background: #1FB5FF;
	padding: 3px 10px;
	background-repeat: no-repeat;
	background-position: center left;
	text-shadow: 2px 2px 1px #5e708e;
	text-shadow: #000 0 0 2px;
}


.CSection .CTitle, CClass .CTitle {
	background-color: #FFE12A;
}

.CConstant .CTitle {
	background-color: #FF2E99;
}

.CVariable .CTitle {
	background-color: #FF8A2D;
}

.CFile .CTitle {
	background-color: #5931FF;
}

.CProperty .CTitle {
	padding-left: 50px;
	background-image: url(../images/method.gif);
	background-position: .7em;
}

.CFunction .CTitle {
	padding-left: 60px;
	background-image: url(../images/function.gif);
	background-position: .7em;
}

.CClass .CTitle {
	padding-left: 40px;
	background-image: url(../images/class.gif);
	background-position: .7em;
}

.CConstant .CTitle {
	padding-left: 60px;
	background-image: url(../images/constant.gif);
	background-position: .7em;
}

.CVariable .CTitle {
	padding-left: 60px;
	background-image: url(../images/variable.gif);
	background-position: .7em;
}

.CFile .CTitle {
	padding-left: 60px;
	background-image: url(../images/file.gif);
	background-position: .7em;
}

div.code, pre {
	font: 12px "Monaco", "Courier New", Monospace;
	background: #222;
	border: 1px solid #333;
	padding: 10px 15px;
	color: #fff;
	margin-left: 30px;
	overflow: auto !important;
	overflow: scroll;
	line-height: 1.5;
	text-shadow: none;
}

.CParagraph, .CDescriptionList {
	padding: 5px 5px 5px 30px !important;
}

.CDescriptionList tr {
	padding: 2px 0;
}

.CDLEntry {
	padding: 0 10px 0 0;
	color: #666;
	font: 12px "Monaco", "Courier New", Monospace;
}

h4.CHeading, .STitle {
	padding-left: 10px;
	border-bottom: 1px solid #222;
	border-top: 1px solid #222;
	background: #151515;
	color: #fff;
	text-shadow: #000 0 0 5px;
}

.CProperty .CTitle, .CFunction .CTitle, .CGroup .CTitle, .CClass .CTitle, .CSection .CTitle, .CConstant .CTitle, .CVariable .CTitle, .CFile .CTitle {
	margin: 15px 0 10px;
}

/*summary*/

.SBody {
	xmargin-left: 30px;
}

.STitle {
	font-size: 14px;
	padding: 2px 10px;
	font-weight: bold;
}

.STable {
	width: 100%;
	border-collapse: collapse;
	font-size: 12px;
}

.STable a:link, .STable a:visited {
	color: #fff;
}

.STable a:hover, .STable a:active {
	color: #fff;
}

.SBody {
	margin: .75em;
	border: 1px solid #181818;
}

.SMarked {
	background: #1c1c1c;
}

.STable td {
	padding: 3px 6px;
	border-right: 1px solid #181818;
}

h4.CHeading, .STitle {
	margin: 10px 0 7px;
}

.SMain {
	font-size: 16px;
	background: #151515;
}

.SMain td {
	padding: 4px 6px;
}

.SProperty .SEntry, .SFunction .SEntry {
	text-align: right;
	font-family: "Monaco", monospace;
}

.SVariable .SEntry a {
	font-family: "Monaco", monospace;
	color: #FF8A2D;
}

.SFile .SEntry a {
	color: #5931FF;
}

.SConstant .SEntry a {
	font-family: "Monaco", monospace;
	color: #FF2E99;
}

.SProperty .SEntry a, .SFunction .SEntry a {
	color: #1FB5FF;
}

.SEntry {
	width: 170px;
}

.SClass, .SSection {
	font-size: 14px;
	background: #151515;
}

.SGroup {
	font-size: 13px;
	background: #222;
}

/*index*/

#Index table {
	padding: 10px;
	font-size: 14px;
}

#Index table td {
	padding: 2px 6px;
}

.IHeading, .ISymbolPrefix {
	font-weight: bold;
	font-size: 15px;
	background: #eee;
}

td.IHeading {
	padding-top: 10px;
	border-top: 4px solid #fff;
	text-align: center;
}

.ISubIndex {
	padding-left: 20px;
}

.ISubIndex a {
	display: block;
}

.IPageTitle {
	font-size: 24px;
	font-weight: bold;
}

.INavigationBar {
	font-size: 13px;
	font-weight: bold;
	text-align: center;
}

#Footer {
	margin-left: 200px;
	padding: 10px;
	text-align: right;
	color: #dadada;
}

.CToolTip {
	position: absolute;
	visibility: hidden;
	left: 0;
	top: 0;
	background: #444;
	padding: 10px;
	color: #fff;
}

#MSearchResultsWindow {
	xdisplay: none;
}

/*custom*/

.clear {
	clear: both;
}
a.toTop {
	float: right;
	font-size: 9px;
	color: #fff;
	margin-top: 4px;
	text-transform: lowercase;
	text-shadow: none;
}

.CTitle, .Summary, .SBody {
	-webkit-border-radius: .6em;
	-moz-border-radius: .6em;
}

.MGroup a {
	-webkit-border-radius: .6em;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius: .6em;
	-moz-border-radius-bottomright: 0;
}
.MGroup .MEntry a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}