/* @override http://chyrp.net/code/css/main.css */
html {
	font: 62.5%/1.6em normal;
	background: #1a1a1a;
}
body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-size: 1.25em;
	line-height: 1.75em;
	width: 55em;
	margin: 5em auto;
	text-shadow: #000 1px 1px 2px;
	color: #fff;
}
a {
	color: #1FB5FF;
	text-decoration: none;
}
a img {
	margin: 0;
	padding: 0;
	border: none;
}
form {
	padding: 0 1em;
}
form .buttons {
	text-align: center;
	margin-top: .5em;
	background: #181818;
	display: block;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
}
form .buttons input {
	margin: 1em 0;
}
textarea, input[type="text"], input[type="password"], input[type="file"] {
	width: 50.2em;
	font: inherit;
	background: #202020;
	border: none;
	color: #fff;
	padding: .5em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
input[type="text"], input[type="password"], input[type="file"] {
	padding: .25em;
	width: auto;
}
textarea, input[type="text"], input[type="password"], input[type="file"] {
	margin-bottom: 1em;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="file"]:focus {
	background: #fff;
	color: #000;
}
label {
	display: block;
	font-weight: bold;
}
label .sub {
	font-size: .9em;
	color: #999;
}
code {
	font-family: "Monaco", monospace;
}
h1#chyrp {
	font: 4em normal "Palatino Linotype", Palatino, Georgia, "Times New Roman", Times, serif;
	margin: 0 0 .25em;
	position: relative;
	z-index: 1;
	display: inline;
}
h1#chyrp a {
	color: #fff;
}
img#logo {
	margin: 0 0 -.4em -.6em;
	position: relative;
	z-index: 0;
}
ul#navigation {
	list-style: none;
	padding: 0;
	height: 2.05em;
}
ul#navigation li {
	display: inline;
}
ul#navigation li a {
	color: #666;
	padding: .2em .75em;
	margin-right: .5em;
	float: left;
	text-shadow: none;
	width: 5.5em;
	text-align: center;
	-webkit-border-radius: .6em;
	-moz-border-radius: .6em;
}
ul#navigation li.last a {
	margin-right: 0;
}
ul#navigation li a:hover {
	background: #171717;
}
ul#navigation li.first a {
    color: #ff2e99;
}
ul#navigation li.second a {
    color: #ff8a2d;
}
ul#navigation li.third a {
    color: #ffe12a;
}
ul#navigation li.fourth a {
    color: #caff2a;
}
ul#navigation li.fifth a {
    color: #1fb5ff;
}
ul#navigation li.sixth a {
    color: #5931ff;
}
ul#navigation li.selected a {
	padding: .2em .75em;
	background: #151515;
	color: #fff;
	cursor: default;
}
div#content {
	margin-top: -1em;
	padding: 1em;
	color: #fff;
}
div#content a:hover {
	color: #FFF !important;
}
div#content.index {
	padding: 1em 0;
}
div#content p {
	padding: 0;
	margin: 0 0 1em;
}
div#content h1 {
	padding: .4em .6em;
	background: #151515;
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 1.25em;
	text-shadow: #000 0 0 5px;
	-webkit-border-radius: .6em;
	-moz-border-radius: .6em;
}
div#content h1 .right {
	font-size: .8em;
}
div#content h1 .right a:link {
	color: #FF2E99;
}
div#content .grouped h1 {
	position: relative;
}
div#content .grouped .sub {
	padding-top: .6em;
	margin-top: -1.2em;
	-webkit-border-bottom-left-radius: .6em;
	-webkit-border-bottom-right-radius: .6em;
	-moz-border-radius-bottomleft: .6em;
	-moz-border-radius-bottomright: .6em;
}
div#content div.sub {
	background: #131313;
	margin-top: -.9em;
	padding: .25em .75em;
}
div#content .lighter div.sub {
	background: #171717 !important;
	padding: .75em 1em 1em !important;
}
div#content div.sub.list ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: .9em;
}
div#content div.sub.list ul li {
	display: inline;
}
div#content div.sub.list ul li a {
	color: #fff;
	padding: .6em .6em .7em;
}
div#content div.sub.list ul li.selected a {
	background: #151515;
}
div#content p.description {
	font-size: 1.5em;
	line-height: 1.5em;
	background: #151515;
	padding: .75em 1em 1em;
	margin: 1em 0 0;
}
div#content div.buttons {
	text-align: center;
}
div#content div.buttons img {
	margin: 0;
	padding: 0;
	vertical-align: top;
}
div#content img.burd {
	float: left;
	margin-top: 1em;
}
div#content p.information {
	background: #151515;
	padding: .6em 1em;
	margin: 4em 5em 0 11em;
	color: #fff;
	font-family: "Georgia";
	font-style: italic;
	font-size: 1.1em;
	text-align: justify;
	text-shadow: #000 1px 1px 2px;
}
.extension {
	margin: 2em 0 2em;
}
.extension h2,
#warning {
	font-size: 15px;
	padding: .3em 1em .3em 3.5em;
	position: relative;
	z-index: 3;
	background-repeat: no-repeat;
	background-position: .7em;
	text-shadow: #000 0 0 3px;
	color: #fff;
	-webkit-border-radius: .6em;
	-moz-border-radius: .6em;
}
#warning {
	padding: .3em 1em;
	margin-bottom: 1em;
	background-color: #FF2E99;
}
.extension h2 .right {
	font-size: .85em;
	text-shadow: none;
}
.extension h2 a {
	color: #fff;
}
.extension div.sub {
	padding-top: .6em !important;
	margin-top: -1.5em !important;
	position: relative;
	z-index: 2;
	-webkit-border-bottom-left-radius: .6em;
	-webkit-border-bottom-right-radius: .6em;
	-moz-border-radius-bottomleft: .6em;
	-moz-border-radius-bottomright: .6em;
}
.extension div.sub ul li {
	margin-right: 1em;
}
.extension div.sub ul li strong {
	margin-left: .1em;
}
.extension .content {
	padding: 2em 0 1em;
	margin-top: -1em;
	position: relative;
	z-index: 1;
	background: #161616;
	-webkit-border-bottom-left-radius: .6em;
	-webkit-border-bottom-right-radius: .6em;
	-moz-border-radius-bottomleft: .6em;
	-moz-border-radius-bottomright: .6em;
}
.extension .content p {
	padding: 0 1em !important;
}
.extension .content .preview {
	float: right;
	width: 175px;
	height: 100px;
	margin: 0 1em;
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid #ddd;
}
.extension .links {
	padding: 1em .75em .5em;
	margin-top: -.5em;
	background: #181818;
	text-shadow: none;
	-webkit-border-bottom-left-radius: .6em;
	-webkit-border-bottom-right-radius: .6em;
	-moz-border-radius-bottomleft: .6em;
	-moz-border-radius-bottomright: .6em;
}
.extension .links a.download {
	color: #FFE12A;
	margin-right: .5em;
}
.extension .links a.love {
	margin-right: .5em;
}
.extension .links a.right {
	color: #5931FF;
}
.extension .links .emblem {
	margin: 0 5px -3px 2px;
}
.extension.theme h2 {
	background-color: #FF2E99;
	background-image: url('../images/theme.gif');
}
.extension.translation h2 {
	background-color: #FF8A2D;
	background-image: url('../images/translation.gif');
}
.extension.module h2 {
	background-color: #5931FF;
	background-image: url('../images/module.gif');
}
.extension.feather h2 {
	background-color: #1FB5FF;
	background-image: url('../images/feather.gif');
}
.extension.theme div.sub ul li strong {
	color: #FF2E99;
}
.extension.translation div.sub ul li strong {
	color: #FF8A2D;
}
.extension.module div.sub ul li strong {
	color: #5931FF;
}
.extension.feather div.sub ul li strong {
	color: #1FB5FF;
}
.comment h1 .info {
	font-size: .8em;
	color: #999;
}
div#content .comment.grouped.lighter div.sub {
	padding-top: 1em !important;
	padding-bottom: .1em !important;
	margin-top: -1.2em;
	font-size: 1em !important;
}
a.big-download, .add-buttons a {
	font-size: 2em;
	font-weight: bold;
	background: #111;
	display: block;
	width: 11em;
	line-height: 80px;
	text-align: center;
	margin: 1em auto 0;
	color: #fff;
	border: .2em solid #161616;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
}
a.big-download:hover, .add-buttons a:hover {
	border-color: #1d1d1d;
}
.add-buttons {
	text-align: center;
}
.add-buttons a {
	border: none;
	display: inline;
	padding: 1em;
	-webkit-border-radius: 0;
}
.add-buttons a.first {
	-webkit-border-top-left-radius: 1em;
	-webkit-border-bottom-left-radius: 1em;
	-moz-border-radius-topleft: 1em;
	-moz-border-radius-bottomleft: 1em;
}
.add-buttons a.last {
	-webkit-border-top-right-radius: 1em;
	-webkit-border-bottom-right-radius: 1em;
	-moz-border-radius-topright: 1em;
	-moz-border-radius-bottomright: 1em;
}
.make-demo {
	text-align: center;
}
.make-demo label, .make-demo input[type="text"], .make-demo input[type="password"] {
	font-size: 1.25em;
}
.pagination {
	margin-top: .5em;
}
.pagination a, .pagination .current, .pagination .disabled {
	padding: .25em .5em;
	margin: 0 .1em;
	-webkit-border-radius: .4em;
	-moz-border-radius: .4em;
}
.pagination .disabled {
	color: #999;
	border: none;
}
.pagination a {
	background: #161616;
	color: #999;
}
.pagination a:hover {
	background: #1d1d1d;
	color: #999;
}
.pagination .current {
	background: #222;
}
div#footer {
	margin-top: 2em;
	border-top: .1em solid #222;
	padding: .5em;
	color: #444;
	text-shadow: none;
}
div#footer .toogeneric {
	font-size: 10em;
	float: right;
	line-height: .8em;
	color: #222;
}
div#footer .toogeneric:hover {
	color: #d3fe57;
}
.clear {
	clear: both
}
.right {
	float: right;
}
.left {
	float: left;
}
.wg {
	font-family: "Wingdings";
	font-size: 1.25em;
	position: relative;
	bottom: -.1em;
}
.wb {
	font-family: "Webdings";
	font-size: 1.25em;
	bottom: -.1em;
}
.tags a {
	color: #fff;
	text-shadow: none;
}
.box {
	background: #171717 !important;
	padding: .75em 1em 1em !important;
	margin: 1em 0 0;
}

.no_ie {
	background: url('../images/no_ie_back.png') repeat-x;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
}
