<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="$theme.type; charset=utf-8" />
        <meta http-equiv="style-content-type" content="text/css; charset=utf-8" />
        <title>{% block title %}$site.name &#8250; {% if title %}${ title | escape }{% endif %}{% endblock %}</title>
        <meta name="generator" content="Chyrp" />
        <meta name="description" content="$site.description" />
        <meta name="robots" content="index,follow" />
        <link rel="shortcut icon" href="$site.url/favicon.ico" />
        <link rel="pingback" href="$site.chyrp_url/includes/xmlrpc.php" />
        <link rel="EditURI" type="application/rsd+xml" href="$site.chyrp_url/includes/rsd.php" />
        $theme.feeds
        $theme.stylesheets
        $theme.javascripts
${ trigger.call("head") }
    </head>
    <body id="blog" class="$route.action">
        {% if visitor.group.can("add_post", "add_draft", "add_page", "view_own_draft", "view_draft", "change_settings", "toggle_extensions") %}
        <div id="controls" {% if hide_admin %} style="display: none"{% endif %}>
            <ul>
                {% if visitor.group.can("add_post") %}
                <li><a id="add_post" href="{% admin "write_post" %}">${ "Write" | translate }</a></li>
                {% elseif visitor.group.can("add_draft") %}
                <li><a id="add_draft" href="{% admin "write_post" %}">${ "Write Draft" | translate }</a></li>
                {% endif %}
                {% if visitor.group.can("add_page") %}
                <li><a id="add_page" href="{% admin "write_page" %}">${ "Add Page" | translate }</a></li>
                {% endif %}
                {% if visitor.group.can("view_own_draft", "view_draft") %}
                <li><a id="your_drafts" href="{% url "drafts" %}">${ "Your Drafts" | translate }</a></li>
                {% endif %}
                {% if visitor.group.can("change_settings", "toggle_extensions") %}
                <li><a id="site_settings" href="$site.chyrp_url/admin/">${ "Admin" | translate }</a></li>
                {% endif %}
                <li class="close"><a class="toggle_admin" href="{% url "toggle_admin" %}">${ "Close" | translate }</a></li>
            </ul>
        </div>
        {% endif %}

        <form class="search" action="{% url "/" %}" method="get">
            <input type="hidden" name="action" value="search" />
            <input type="text" name="query" id="query" />
        </form>

        <ul id="navigation">
            <li class="first${ "home" | selected(route.action, true) }">
                <h2><a href="$site.url">Chyrp</a></h2>
                <a href="$site.url">Home</a>
            </li>
            <li class="second${ "download" | selected(route.action, true) }">
                <h2><a href="$site.url">Chyrp</a></h2>
                <a href="{% url "download" in Main %}">Download</a>
            </li>
            <li class="third">
                <h2><a href="$site.url">Chyrp</a></h2>
                <a href="{% url "index" in Discuss %}">Discuss</a>
            </li>
            <li class="fourth">
                <h2><a href="$site.url">Chyrp</a></h2>
                <a href="{% url "index" in Extend %}">Extend</a>
            </li>
            <li class="fifth">
                <h2><a href="$site.url">Chyrp</a></h2>
                <a href="{% url "code" in Main %}">Code</a>
            </li>
            <li class="sixth${ true | selected(route.action == "page", true) }">
                <h2><a href="$site.url">Chyrp</a></h2>
                <a href="{% url "about" in Main %}">About</a>
            </li>
            <li class="seventh${ true | selected(route.action != "home" and route.action != "download" and route.action != "page", true) }">
                <h2><a href="$site.url">Chyrp</a></h2>
                <a href="{% url "blog" in Main %}">Blog</a>
            </li>
        </ul>

        <div id="content">
            <!--<div class="flash warning">Chyrp 2.1 Final Released. <a href="http://chyrp.net/2011/04/01/chyrp-21-final-released/">Read more &rarr;</a></div>-->
        {% for type, messages in flash.all | items %}
            {% for message in messages %}
            <div class="flash ${ type | depluralize }">$message</div>
            {% endfor %}
            {% endfor %}
        {% block content %}{% endblock %}
        </div>

        <ul id="footer">
            <li class="wakawaka"><a href="http://xhezairi.com/">*</a></li>
            <li>${ "Powered by <a class=\"chyrp\" href=\"http://chyrp.net/\">Chyrp</a>" | translate } &copy; 2011 &mdash; <a class="atom" href="{% url "feed" %}">atom</a></li>
            <li><iframe src="http://www.facebook.com/plugins/like.php?app_id=261610940518826&amp;href=http%3A%2F%2Fwww.facebook.com%2FChyrp&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=dark&amp;font=lucida+grande&amp;height=80" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe></li>
        </ul>

        {% if debug and visitor.group.name == "Admin" %}
        <div id="debug">
            <h5>
                <a class="toggle" href="javascript:void(0)">${ "Toggle" | translate }</a>
                ${ "Stats" | translate }
            </h5>
            <ul>
                <li><strong>${ "Queries:" | translate }</strong> $sql_queries</li>
                <li><strong>${ "Load Time:" | translate }</strong> $theme.load_time ${ "seconds" | translate }</li>
            </ul>
            <br />
            <h5>${ "Queries" | translate }</h5>
            <ol class="queries">
                {% for debug in sql_debug %}
                <li>
                    <pre>${ debug.query | replace("\t", "    ") | escape }</pre>
                    <em>${ "Called from <strong>%s</strong> on line <strong>%d</strong> at %ss." | translate | format(debug.file, debug.line, debug.time) }</em>
                </li>
                {% endfor %}
            </ol>
            <div class="clear"></div>
        </div>
        {% endif %}
${ trigger.call("end_content") }
        <!-- Queries: $sql_queries | Load Time: $theme.load_time -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12050662-6']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_trackEvent', 'Downloads 2.1', 'ZIP', '/releases/chyrp_v2.1.zip']);
      _gaq.push(['_trackEvent', 'Downloads 2.5b1', 'ZIP', '/releases/chyrp_v2.5b1.zip']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    </body>
</html>
