{% extends "layouts/default.twig" %}

{% block title %}
$site.name &#8250; An extra lightweight and extra awesome blogging engine
{% endblock %}

{% block content %}
<h1>What in the blue blazes is Chyrp?</h1>
<p class="blurb">
    Chyrp is a blogging engine designed to be very lightweight while retaining functionality. It is powered by <strong>PHP</strong> and has very powerful theme and extension engines, so you can personalize it however you want. The code is well-documented, and it has a very strong structure that's loosely based on the MVC design pattern. There are many things special about Chyrp, but the best way to describe it is to just have you try it yourself by clicking this oversized button:
</p>
<a class="big giant colorize" href="{% url "/demo" %}">Try it out!</a>
{% endblock %}
