{% extends "layout.twig" %}

{% block title %}${ "Edit Type" | translate("progress") }{% endblock %}

{% block content %}
            ${ type.delete_link('<img src="themes/default/images/icons/delete.png" alt="delete" />'~ ("Delete" | translate), null, null, "button boo right") }
            <h1>${ "Edit Type &#8220;%s&#8221;" | translate("extend") | format(type.name) }</h1>
            <form id="edit_type" class="split" action="{% admin "update_type" %}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
                <fieldset>
                    <p>
                        <label for="name">${ "Name" | translate("extend") }</label>
                        <input class="text" type="text" name="name" value="${ type.name | escape }" id="name" />
                    </p>
                    <p>
                        <label for="description">${ "Description" | translate("extend") }</label>
                        <textarea class="description" name="description" rows="9" cols="50" id="description">${ type.description | escape }</textarea>
                    </p>
                    <p>
                        <label for="due">${ "Due" | translate("progress") }</label>
                        <input class="text" type="text" name="color" value="${ type.color | translate('extend') }" id="color" />
                        <span class="sub">(<a href="http://php.net/strtotime">strtotime</a>-compatible)</span>
                    </p>

                    <br />

                    <p>
                        <button type="submit" class="yay"><img src="$theme_url/images/icons/success.png" alt="success" />${ "Update" | translate }</button>
                    </p>

                    <input type="hidden" name="hash" value="$site.secure_hashkey" id="hash" />
                    <input type="hidden" name="milestone_id" value="$milestone.id" id="hash" />
                </fieldset>
            </form>
{% endblock %}
