{% extends "layouts/default.twig" %}

{% block content %}
        <h2>${ "Not Found" | translate }</h2>
        <div class="post body">${ "Sorry, but you are looking for something that isn't here." | translate }</div>
{% endblock %}
