{% extends "layouts/main.twig" %}

{% block title %}
Chyrp &#8250; Blog
{% endblock %}

{% block content %}
                    {% for post in posts.paginated %}
{% include "feathers/" ~ post.feather ~ ".twig" %}
                    {% else %}
                    <h1>${ "No Posts" | translate }</h1>
                    <p>${ "Nothing here yet!" | translate }</p>
                    {% endfor %}
{% endblock %}
